# read students data
read an csv file using pandas

In [1]:
# import pandas library
import pandas as pd

In [2]:
# read all data
df = pd.read_csv("student.csv")

## 1

In [3]:
# get data from name column
col_str = "nama"
name = "Tuan Leo"
data = df.loc[df[col_str] == name]
print(data)

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Leo     STEI      96.78      62.23      30.53

In [4]:
# print some column
print("Name =", data["nama"].tolist()[0])
print("Math =", data["nilai_mat"].tolist()[0])
print("Chem =", data["nilai_kim"].tolist()[0])
print("Phys =", data["nilai_fis"].tolist()[0])

Name = Tuan Leo
Math = 96.78
Chem = 62.23
Phys = 30.53

## 2

In [5]:
# get students with maximum math score
math = df['nilai_mat']
idx = math.idxmax()
val = math.max()
student = df.loc[df['nilai_mat'] == val]
print(student)

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
31            Ria Tri Wahyuni     FTSL      100.0      39.90      49.78
58                 Arif Saleh      FTI      100.0      59.79      55.33
68        Ahmad Ibrahim Fahmi     FITB      100.0      41.50      48.32
117   Caesar Lanang Kurniawan     FTMD      100.0      42.94      53.30
132      Laura Estwin Gunawan     STEI      100.0      41.45      50.13
...                       ...      ...        ...        ...        ...
4598    Nova Ginanjar Hidayat      FTI      100.0      43.49      51.64
4769       Mustika Nurul Ulma     STEI      100.0      37.72      40.86
4786           Andhiki Supono     FTMD      100.0      42.72      46.56
4890          Fandy Valentino    FMIPA      100.0      31.46      34.20
4898      Fauziyah Nurul Aini     FTSL      100.0      53.20      64.54

[72 rows x 5 columns]

## 3

In [6]:
# get the 5 most highest of physics score
phys = df.sort_values(by="nilai_fis", ascending=False)
print(phys[:5])

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57
4145                    Grace    SAPPK      62.23      68.08      90.46
918            Siti Munawaroh     STEI      62.22      73.93      90.13
1147             Feruz Kausar     STEI      81.61      76.12      88.40
2074            Sandi Suryadi     STEI      79.17      73.81      86.83

## 4

In [7]:
# get students with chemistry scores less than 10
student = df.loc[df['nilai_kim'] < 10]
print(student)

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
372              Muhammad Syirazi      FTI      52.96       5.31      15.81
718   Ibrahim Musa Arif Nurachman     STEI      80.49       9.59      22.34
1445                Erwin Hariadi     STEI      87.95       2.09      14.43
2912         Yunita Indah Puspita     FTMD      77.06       7.16      18.99
3223           Alivia Puti Kamila     FTSL      59.50       8.73      27.06
3534              Evelyn Melindra     STEI      77.56       7.83      11.10
4111               Swastika Utama     FTMD      86.51       6.67      23.16

## 5

In [8]:
# get number of students in a faculty
nf = len(df.groupby('fakultas').get_group('STEI'))
print(nf)

777

In [9]:
# get number of students in a faculty
student = df.loc[df['fakultas'] == 'STEI']
print(len(student))

777