# read students data
read an csv file using pandas

In [1]:
# import pandas library
import pandas as pd

In [2]:
# read all data
df = pd.read_csv("student.csv")

## 1

In [3]:
# get number of data
N = len(df)
print("Number of data =", N)
print()

Number of data = 5135

## 2

In [4]:
# slice data to get first 5 data
M = 5
df1 = df[0:M]
print("first", M, "data")
print(df1)
print()

first 5 data
                   nama fakultas  nilai_mat  nilai_kim  nilai_fis
0  Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1        Steven Margono    FMIPA      67.43      51.50      57.20
2          Ryan Sentosa    SAPPK      90.62      37.38      40.73
3  Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4      Alvin Natawiguna     FTSL      65.45      57.67      56.39

## 3

In [5]:
# slice data from 110 to 115 (inclusive)
BEG = (110 - 1)
END = (115 - 1) + 1
print("data from", BEG + 1, "to", END, "(inclusive)")
df2 = df[BEG:END]
print(df2)

data from 110 to 115 (inclusive)
                       nama fakultas  nilai_mat  nilai_kim  nilai_fis
109        Tri Wibowo Budhi      FTI      74.80      53.88      64.24
110                  Steven     FTMD      93.03      33.59      30.07
111  Andi Yandika Rahmahaji     FTMD      51.58      31.35      43.02
112        Aurinda Destri A     FTMD      89.20      27.67      55.06
113    Devi Qisthina Linati      FTI      65.27      69.31      76.61
114     Irvandi Warganegara      FTI      65.13      50.38      51.75

## 4

In [6]:
# get header, certain column string, index
col_head = df.keys().tolist()
print(col_head)
col_str = 'fakultas'
col_idx = col_head.index('fakultas')
print(col_str, "is at colum", col_idx)

['nama', 'fakultas', 'nilai_mat', 'nilai_kim', 'nilai_fis']
fakultas is at colum 1

In [7]:
# get unique values
faculty = df[col_str].unique()
print(faculty)

['FMIPA' 'SAPPK' 'FTSL' 'FTTM' 'FTI' 'FITB' 'STEI' 'FTMD' 'SITHS' 'SITHR']

In [8]:
# calculate occurence of unique values
N_faculty = []
for f in faculty:
    nf = len(df.groupby('fakultas').get_group(f))
    N_faculty.append(nf)

# display result
print("Fact", "Data", sep='\t')
print("-----", "----", sep='\t')
for i  in range(len(faculty)):
    print(faculty[i], N_faculty[i], sep='\t')

print("-----", "---- +", sep='\t')
print("Sum", sum(N_faculty), sep='\t')

Fact	Data
-----	----
FMIPA	627
SAPPK	315
FTSL	660
FTTM	579
FTI	834
FITB	403
STEI	777
FTMD	480
SITHS	178
SITHR	282
-----	---- +
Sum	5135

## 5

In [9]:
# get correlation of two colums
col_str_1 = "nilai_kim"
col_str_2 = "nilai_mat"
corr = df[col_str_1].corr(df[col_str_2])
print("Correlation between", col_str_1, "and", col_str_2, "=", corr)

Correlation between nilai_kim and nilai_mat = -0.010162482834663145