# print_end
Control end of line of `print()` fuction.

In [1]:
# define variables
a = 1
b = -53
c = 100

In [2]:
# display each value with separate print function
print(a)
print(b)
print(c)

1
-53
100

In [4]:
# display each value with separate print function but in the same line
print(a, end=' ')
print(b, end=' ')
print(c)

1 -53 100

In [5]:
# display each value with separate print function but in the same line and seperated with comma
print(a, end=', ')
print(b, end=', ')
print(c)

1, -53, 100

In [6]:
# display each value with separate print function but in the same line and separated with +
print(a, end=' + ')
print(b, end=' + ')
print(c)

1 + -53 + 100

In [9]:
# for loop in a line, end with comma
N = 10
for i in range(N):
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [10]:
# for loop in a line, end with +
N = 10
for i in range(N):
    print(i, end=' + ')

0 + 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 +

In [11]:
# for loop in a line, end with + except the last one
N = 10
for i in range(N):
    if i < N - 1:
        print(i, end=' + ')
    else:
        print(i)

0 + 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9

In [15]:
# use for loop and end option in print() function to make triangle of zero
row = 10
for i in range(0, row):
    for j in range(0, i):
        print(0, end='')
    print()

0
00
000
0000
00000
000000
0000000
00000000
000000000

In [16]:
# use for loop and end option in print() function to make triangle of numbers
row = 10
for i in range(0, row):
    for j in range(0, i):
        print(i, end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [17]:
# use for loop and end option in print() function to make triangle of numbers
row = 10
for i in range(0, row):
    for j in range(0, i):
        print(j, end='')
    print()

0
01
012
0123
01234
012345
0123456
01234567
012345678

In [21]:
# use for loop and end option in print() function to make triangle of numbers
row = 6
for i in range(0, row):
    for j in range(0, i):
        print(i + j, end='')
    print()

1
23
345
4567
56789